 .testimonials_container{
    width: 40% ;
    margin-top: 4rem;
    min-height: auto !important;
}
#testimonials{
min-height: auto;
margin:4rem 2rem;
}
.client_avatar{
    width:6rem;
    height: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border:0.4rem solid var(--color-primary-varient);
}
.testimonial {
    background:var(--color-primary-varient);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.client_review{
    color:var(--color-light);
    font-weight: 300;
    display: block;
    width:80%;
    margin: 1rem auto 0;
}


/* slider btns  */
.swiper{
    margin: 2rem auto !important;
    overflow: visible;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:-4rem;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--color-primary) !important;
}
/* =============MEDIA QUERIES (MEDIUM DEVICES)============ */
@media only screen and (max-width:1024px) {

    .testimonials_container{
        width:60%;
        margin:0px 2rem !important;
    }
    #testimonials{
        min-height: auto;
        margin:4rem .5rem;
        }
 }
 
 /* =============MEDIA QUERIES (SMALL DEVICES)============ */
 
 
 @media only screen and (max-width:600px) {
     .testimonials_container{
         width:var(--container-width-sm);
         margin:0px 2rem !important;
     }
     .client_review{
         width: var(--container-width-sm);
     }
     #testimonials{
        min-height: auto;
        margin:4rem 0px;
        }
 } 
 
 